* {
  padding: 0;
  margin: 0;
}

.header {
  color: #1c074b;
  padding: 20px;
 
}
.weathertoday{
     display: flex;
  justify-content: space-between;
  padding-left: 15px;
  text-align: center;
  
}
.weathertodaytemp{
display: flex;
  font-size: 20px;
  color: #4e4c4c;
}

.wetherinfo{
     display: flex;
  flex-direction: column;
  color: #061246;
  padding: 0 10px 20px 0;
  font-size: 15px;
 
}
.table1{
  margin-left:auto; 
    margin-right:auto; 
}

table{
    border: 1px solid black;
    border-spacing: 25px;
   margin-left:auto; 
    margin-right:auto; 
  
}

